In [16]:
import requests
from pymongo import MongoClient
import pandas as pd
import random

# Create user

In [2]:
personajes = ['Barack Obama', 'Voldemort', 'Chewbacca', 'Valentino Rossi', 'must4in3', 'Gino di Ninno',
              'Heidi', 'Hermione', 'Pikachu', 'Topolino', 'Berlusconi', 'Hulk', 'Dilan Dog', 'Stephen Hopkins']

for personage in personajes:
    res = requests.get(f'http://localhost:3000/user/create/{personage}')

In [3]:
print(res)

<Response [200]>

In [4]:
res.json()

{'data': {'_id': {'$oid': '5f0a53d1c622b34520677419'},
  'username': 'Stephen Hopkins'},
 'status': 'ok'}

In [11]:
# check users in Mongo
dbName = "api_chat_sentiment_analysis"
mongodbURL = f"mongodb://localhost/{dbName}"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

In [12]:
cur = db.user.find({"username":{"$ne": None}})

In [13]:
df = pd.DataFrame(cur)
df.head()

                        _id         username
0  5f0a53d0c622b3452067740c     Barack Obama
1  5f0a53d1c622b3452067740d        Voldemort
2  5f0a53d1c622b3452067740e        Chewbacca
3  5f0a53d1c622b3452067740f  Valentino Rossi
4  5f0a53d1c622b34520677410         must4in3

# Create Chat

In [58]:
df["_id"]= df["_id"].astype(str)

In [59]:
five_chats = ['How I met your mother', 'Dumbledoreâ€™s Army', 
              'Tesla SpaceX','Italian restaurants in Madrid','datamad0620']
chats_room = dict()
for i,chat in enumerate(five_chats):   
    chats_room[f'{chat}']= {'user_ids': [random.choice([row for row in df['_id']]) for _ in range(5)]}

In [60]:
for room,user_ids in chats_room.items():
    res = requests.get(f'http://localhost:3000/chat/create/{room}?user_id={user_ids.values()}')

In [61]:
print(res)

<Response [200]>

In [62]:
res.json()

{'chat_users': 3,
 'create chat status': 'Ok',
 'create users status': 'Some user_id did not exist in the database, or you tried insert the same id many times',
 'data': {'_id': {'$oid': '5f0a5de213f73fed6da2d361'},
  'chat_name': 'datamad0620',
  'users_ids': ['5f0a53d1c622b34520677410',
   '5f0a53d1c622b34520677412',
   '5f0a53d1c622b3452067740d']}}

# Add user in a Chat

In [ ]:
user_id=['5f09d2aceb2acd917d58c282']
conversation_id = ['5f09cd1b801a2a5c6105d3b9']

In [ ]:
res = requests.get(f'http://localhost:3000/chat/5f09cd1b801a2a5c6105d3b9/adduser?user_id={user_id}')

In [ ]:
print(res)

In [ ]:
res.json()

# Add message in chat

In [ ]:
user_id=['5f09d2aceb2acd917d58c282']
conversation_id = ['5f09cd1b801a2a5c6105d3b9']
text= [{'5f09cc2530bc499da3baa024':'gatto'},
       {'5f09cc2530bc499da3baa024':'con gli'},
      {'5f09cc2530bc499da3baa024':'stivali'},
      {'5f09cc2530bc499da3baa024':'balla'},
      {'5f09cc2530bc499da3baa024':'coi lupi!'}]

In [ ]:
for dic in text:
    for key,values in dic.items():
        res = requests.get(f'http://localhost:3000/chat/5f09eee54dd83349cb0d3093/addmessage?user_id={key}&text={values}')

In [ ]:
print(res)

In [ ]:
res.json()